<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Generated QR Code</title>
</head>

<body>
    <h1>Your QR Code</h1>
    <img src="<%= code %>" alt="QR Code">
    <p>Scan this QR code to visit: <a href="<%= url %>">
            <%= url %>
        </a></p>
    <a href="/">Generate another</a>
</body>

</html>